

#navBar {
	clear:both;
}

#footer {
	background-color: #black;
	font-family: Impact;
	border: 5px fixed black;
	text-align: center;
	height: 20%;
	width: 100%;
	clear: both;
}

header {
	margin-top: -20px;
	padding: 5px;
	text-align: center;
	background-color: #b0e2FF;
	border: 5px fixed black;
	font-family: Impact;
	font-weight: bold;
	font-size: 20px;


}

#upperHeader h2 {
	font-size: 40px;
}

.jumbotron {
	background-image:url('../static/coverImage/Laptop.jpg');
  	height: 550px;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin-bottom: 0px;
}

.jumbotron .container {
	position: relative;
	text-align: center;
	vertical-align: center;
	top: 180px;
	font-size: 100px;
	color: white;
}

#homepage {
	background-color: #b0e2FF
}

.navbar-text{
	text-align: center;
	display: inline-block;
}

.navbar-text > a {
	color: inherit; 
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
#copyright {
	text-align: center;
	display: inline-block;
	background-color: red;
}

#socialIcons {
	text-align: center;
	display: inline-block;
	background-color: red;
}

div div div div img {
	height: 340px;
	width: 340px;
}

div {
	border-radius: 5px;
}
h1 {
	font-family: Impact;
}

h2 {
	font-family: Impact;
}

h3 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Impact,sans-serif;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana,sans-serif;
}

#picture {
	float:center;
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: #B9D7D9;
}

#objective {
	float:center;
	text-align: center;
	margin: 50px 20px 50px 20px;
	padding: 30px 10px 30px 10px;
	color: black;
	background-color: #B9D7D9;

}

#education {
	float:center;
	text-align: center;
	margin: 50px 20px 50px 20px;
	padding: 30px 10px 30px 10px;
	color: black;
	background-color: #B9D7D9;
}

#workExp {
	float:center;
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: #B9D7D9;
}

#projExp {
	float:center;
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: #B9D7D9;
}

#skills {
	float:center;
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: #B9D7D9;
}

#downloadLink {
	float:center;
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: #B9D7D9;
}

#contactInfo {
	float:center;
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: #94acad;
}

li {
	text-align: left;
}

.gallery div > h2 {
	text-align: center;
	color: #8B1A1A;
	font-family: Impact;
	font-size: 40px;
}

.center {
	text-align: center;
}

.dance {
	background-color: #79a2e5;
}
.dance h2:first-child {
	margin-top: 0px;
	padding-top: 20px;
}

.gallery {
	background-color: #407bdb
}