#navBar {
	clear:both;
}

#footer {
	background-color: #black;
	font-family: Impact;
	border: 5px fixed black;
	text-align: center;
	height: 20%;
	width: 100%;
	clear: both;
}

header {
	margin-top: -1.5em;
	padding: -.5em;
	text-align: center;
	background-color: #b0e2FF;
	border: .5em fixed black;
	font-family: Impact;
	font-weight: bold;
	font-size: 1.5em;
}

#upperHeader h2 {
	font-size: 2em;
}

.jumbotron {
	background-image:url('../static/coverImage/Laptop.jpg');
  	height: 40em;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin-bottom: 0px;
}

.jumbotron .container {
	position: relative;
	text-align: center;
	vertical-align: center;
	top: 6.5em;
	font-size: 2em;
	color: white;
}

#homepage {
	background-color: #b0e2FF
}

.navbar-text{
	text-align: center;
	display: inline-block;
}

.navbar-text > a {
	color: inherit; 
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
#copyright {
	text-align: center;
	display: inline-block;
	background-color: red;
}

#socialIcons {
	text-align: center;
	display: inline-block;
	background-color: red;
}

div div div div img {
	height: 21.25em;
	width: 21.25em;
}

div {
	border-radius: .313em;
}
h1 {
	font-family: Impact;
}

h2 {
	font-family: Impact;
}

h3 {
	margin-left: .313em;
	margin-bottom: .938em;
	font-family: Impact,sans-serif;
}

h4 {
	margin-left: .313em;
	margin-bottom: .938em;
	font-family: Verdana,sans-serif;
}

#picture {
	float:center;
	text-align: center;
	margin: 1.25em;
	padding: 0.625em;
	color: black;
	background-color: #B9D7D9;
}

.resume_normal {
	float:center;
	text-align: center;
	margin: 1.25em;
	padding: 0.625em;
	color: black;
	background-color: #B9D7D9;
}

#objective {
	float:center;
	text-align: center;
	margin: 3.125em 1.25em 3.125em 1.25em;
	padding: 1.85em 0.625em 1.85em 0.625em;
	color: black;
	background-color: #B9D7D9;
}
#education {
	float:center;
	text-align: center;
	margin: 3.125em 1.25em 3.125em;
	padding: 1.875em 0.625em 1.875em 0.625em;
	color: black;
	background-color: #B9D7D9;
}

#contactInfo {
	float:center;
	text-align: center;
	margin: 1.25em;
	padding: .625em;
	color: black;
	background-color: #94acad;
}

li {
	text-align: left;
}

.gallery div > h2 {
	text-align: center;
	color: black;
	font-family: Impact;
	font-size: 3em;
}

.center {
	text-align: center;
}

.dance {
	background-color: #79a2e5;
}
.dance h2:first-child {
	margin-top: 0em;
	padding-top: 1.25em;

}

.gallery {
	background-color: #407bdb
}
@media only screen and (max-width: 700px) {
	.jumbotron {
		background-image:url('../static/coverImage/LongPhone.jpg');
	}
	header {
		color: #B18F6A;
		font-family: Helvetica;
		background-color: #D7B7FF
	}
	h1 {
		font-family: Helvetica;
	}
	h2 {
		font-family: Helvetica;
	}
	h3 {
		font-family: Helvetica;
	}
	.gallery {
		background-color: #AC92CC;
	}
	.dance {
		background-color: #ffd7b7;
	}
	ul {
		list-style: square;
	}
	#contactInfo {
		background-color: #b7ffd7;
	}

}
@media only screen and (min-width: 701px){
	.jumbotron {
		background-image:url('../static/coverImage/WideTablet.jpg');
	}
	header {
		color: black;
		font-family: 'UniqueRegular';
		background-color: #e50000;
	}
	h1 {
		font-family: 'UniqueRegular';
	}
	h2 {
		font-family: 'UniqueRegular';
	}
	h3 {
		font-family: 'UniqueRegular';
	}
	.gallery {
		background-color: #cc0000;
	}
	.dance {
		background-color: #b20000;
	}
	ul {
		list-style: upper-roman;
	}
	#contactInfo {
		background-color: #ff1919;
	}
}
@media only screen and (min-width: 1100px) {
	.jumbotron {
		background-image:url('../static/coverImage/Laptop.jpg');
	}
	header {
		font-family: Impact;
		background-color: #b0e2FF;
	}
	h1 {
		font-family: Impact;
	}

	h2 {
		font-family: Impact;
	}

	h3 {
		font-family: Impact;
	}
	.gallery {
		background-color: #407bdb;
	}
	.dance {
		background-color: #79a2e5;
	}
	ul {
		list-style: circle;
	}
	#contactInfo {
		background-color: #94acad;
	}
}


