{% extends "templates/base.html" %}

{% block title1 %}
	- Activities
{% endblock %}

{% block navs %}
	<li><a href="index">Home</a></li>
	<li class="active"><a href="activities">Activities</a></li>
	<li><a href="gallery">Gallery</a></li>
	<li><a href="resume">Resume</a></li>
	<li><a href="contact">Contact Me</a></li>
	<li><a href="login">Login</a></li>
{% endblock %}

{% block title2 %}
	<h2>Activities</h2>
{% endblock %}

{% block content %}
	<div class="center dance">
		<h2 class="dance"> Dance: </h2>
		<hr class="w15">

		<div class ="row">
			<h3 class="center"> IASA 2015 </h3>
			<hr class="w30">
			<h4 class="center"> Indian American Student Association's Azaya South Indian Dance 2015 </h4>
			<br>
			<div class="col-md-6">
				<div class="thumbnail">
					<h4> Dance Video </h4>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/LKYFRH5hAio" class="youtube" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<h4> Dance Mixtape </h4>
					<iframe width="560" height="315" class="soundcloud" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257220404&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<h3 class="center"> Michigan Raas Team 2015 </h3>
			<hr class="w30">
			<h4 class="center"> Competition Video from Indiana's Raas Royalty Competition </h4>
			<br>
			<div class="col-md-6">
				<div class="thumbnail">
					<h4> Dance Video </h4>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/5rZz26qxlsU" class="youtube" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<h4> Competition Mixtape </h4>
					<iframe width="560" height="315" class="soundcloud" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257220405&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<h3 class="center"> IASA 2014 </h3>
			<hr class="w30">
			<h4 class="center"> Indian American Student Association's Kalyara All - Male Dance 2014 </h4>
			<br>
			<div class="col-md-3">
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<h4> Dance Video </h4>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ZjsfS3MlP00" class="youtube" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-3">
			</div>
		</div>
		<hr class="w90">
		<div class="row" id="MHacks">
			<h2 class="center"> MHacks: </h2>
			<hr class="w30">
			<h3 class="center"> Mathemorphosis </h3>
			<div class="col-md-12">
				<h4 class="center"> Mathemorphosis is a Chrome Extension that allows users to highlight lines of text and then transform them into the typesetting of LaTeX/TeX. This primarily helps with the comprehension of usually difficult to read math formulas online. There is also an option to enter your own text and transform it into TeX! </h4>
			</div>
		</div>

		<div class="row" id="lmao">
			<h2 class="center"> Institute of Electrical and Electronics Engineers: </h2>
			<hr class="w30">
			<h3 class="center"> Active Member </h3>
			<div class="col-mid-12">
				<h4 class="center"> The Institute of Electrical and Electronics Engineers (IEEE) is worldwide technical professional society devoted to advancing the theory and application of electrical engineering, electronics and computing. The IEEE serves engineers, scientists and other professionals in approximately 150 countries. It is the world's largest technical professional society. The Institute believes that by promoting the free exchange of technology information, members can advance themselves and their profession, as well as contribute to general TEST public understanding about the importance of electrical, electronics and computer engineering. To carry out its technical and public missions, the IEEE offers a host of publications, conferences and educational programs.

				IEEE members have expertise in areas ranging from computers, energy and biomedical technology, to transportation and consumer electronics. Now in its second century, the Institute is dedicated to leading the search for new ways to bring technology's benefits to people everywhere. </h4>
				<br>
				<br>
			</div>
		</div>
	</div>
{% endblock %}

