<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<title>Nithin Adapa {% block title1 %} default title1 {% endblock %}</title>
		<meta name="description" content="Nithin Adapa - Computer Science Engineering @ University of Michigan Graduating April 2017">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS Files -->
		<link rel="stylesheet" href="../static/styling.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/unique" type="text/css"/>

		<!-- JavaScript Files -->
		<!--
		<script src="../static/main.js" type="text/javascript"></script>
		<script src="../static/bubbles.js" type="text/javascript"></script>
		<script src="../static/alphabet.js" type="text/javascript"></script>
		-->

		<!-- Bootstrap Library -->
		<link rel="stylesheet" href="../static/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css">
		<!--
		<script src="../static/bootstrap.js" type="text/javascript"></script>
		<script src="../static/bootstrap.min.js" type="text/javascript"></script>
		-->

		<!-- JQuery Library -->
		<script src="../static/jquery.js" type="text/javascript"></script>

	</head>
	<body>
		<header>
			<div id="upperHeader">
				<br>
				<h2>Nithin Adapa</h2>
				<hr width="50%">
				{% block title2 %} default title2 {% endblock %}
			</div>
			<nav id="navBar">
				<ul class="nav nav-tabs nav-justified">
					{% block navs %}{% endblock %}
				</ul>
			</nav>
		</header>

		{% block content %}
			Page Content
		{% endblock %}

		<h4 class="center">{{prompt}}</h4>

		<footer id="footer">
			<nav class="navbar">
				<div class="container center">
					<p>Copyright &copy; Nithin Adapa from the University of Michigan</p>
				</div>

				<div class = "row">
					<div class = "col-md-4">
					</div>
					<div class = "col-md-4">
						<div class="container center" style="float:center; align-text:center;">
							<ul class="nav">
								<li class="navbar-text"><a href="https://www.facebook.com/nithin96"><i class="fa fa-facebook-square fa-3x"></i></a></li>
								<li class="navbar-text"><a href="https://twitter.com/nadapa09"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="navbar-text"><a href="https://www.linkedin.com/in/nithinadapa"><i class="fa fa-camera-retro fa-3x"></i></a></li>
								<li class="navbar-text"><a href="https://github.com/nadapa09"><i class="fa fa-github-square fa-3x"></i></a></li>
							</ul>
						</div>
					</div>
					<div class = "col-md-4">
					</div>
				</div>							
			</nav>
		</footer>

	</body>
</html>