{% extends "templates/base.html" %}

{% block title1 %}
	- Contact Me
{% endblock %}

{% block navs %}
	<li><a href="index">Home</a></li>
	<li><a href="activities">Activities</a></li>
	<li><a href="gallery">Gallery</a></li>
	<li><a href="resume">Resume</a></li>
	<li class="active"><a href="contact">Contact Me</a></li>
	<li><a href="login">Login</a></li>
{% endblock %}

{% block title2 %}
	<h2>Contact Me</h2>
{% endblock %}

{% block content %}
	<div id="contactInfo">
		<h4> Contact me at either my email <strong>adapa@umich.edu</strong> or reach out to me on one of the social media appliations linked below. If you want access to my private repo of files, then send me an email saying who you are and why you want it. If it is a valid reason, I will send you a set of login data so you can access my full collection of projects.</h4>
	</div>
{% endblock %}
