{% extends "templates/base.html" %}


{% block content %}
	<p>
		This is the Family page. My family is awesome. My familiy is composed of my mother, my father, my brother, and myself. My dad works for Ford Motor Company. My mom works for CVS pharmacy. My brother is a senior at MedStart at Wayne State University. 
	</p>
{%endblock%}

{% block title1 %}
	Family
{% endblock %}

{% block title2 %}
	<h1>Family</h1>
{% endblock %}

{% block home %}Home{% endblock %}
{% block food %}Food{% endblock %}
{% block family %}FAMILY{% endblock %}
{% block login %}Login{% endblock %}

