{% extends "templates/base.html" %}


{% block content %}
	<p>
		This is the food page. I like food. My favorite type of food is mexican food. Out of all the Mexican restaurants, I love Taco Bell the best. My favorite item on the Taco Bell Menu is the Chicken Chalupa. They taste very good. If I could have a Chicken Chalupa right now, I would. I just love Chicken Chalupas that much. 
		</br>
		<img src = "/static/food.jpg" alt = "food">
	</p>
{%endblock%}

{% block title1 %}
	Food
{% endblock %}

{% block title2 %}
	<h1>Food</h1>
{% endblock %}

{% block home %}Home{% endblock %}
{% block food %}FOOD{% endblock %}
{% block family %}Family{% endblock %}
{% block login %}Login{% endblock %}
