{% extends "templates/base.html" %}

{% block content %}
	<p>
		Welcome! This is the home page for my portfolio. Click around the various links to navigate through the website. Each link relates to a different topic as seen. One of the links will bring you back to this page, the second one will take you to the Food page, the third one will take you to the Family page, and the last link will take you to the login page. Login in for even more content.
	</p>
{% endblock %}

{% block title1 %}
	Home
{% endblock %}

{% block title2 %}
	<h1>Nithin Adapa</h1>
	<h2>Home</h2>
{% endblock %}

{% block home %}HOME{% endblock %}
{% block food %}Food{% endblock %}
{% block family %}Family{% endblock %}
{% block login %}Login{% endblock %}
