{% extends "templates/base.html" %}

{% block title1 %}
	- LOGGED IN
{% endblock %}

{% block navs %}
	<li><a href="index">Home</a></li>
	<li><a href="activities">Activities</a></li>
	<li><a href="gallery">Gallery</a></li>
	<li><a href="resume">Resume</a></li>
	<li><a href="contact">Contact Me</a></li>
	<li class="active"><a href="login">Login</a></li>
{% endblock %}

{% block title2 %}
	<h2>Logged in...</h2>
{% endblock %}

{% block content %}
	<h3 style="text-align: center;"> You have successfully logged in. You now have access to my full project repository </h3>
	<iframe src="https://drive.google.com/embeddedfolderview?id=0B7CGgVvo_xP0OGhfMFdkcFlmcXc#grid" style="width:100%; height:600px; border:0;"></iframe>

{% endblock %}
