{% extends "templates/base.html" %}

{% block prompt %}
	Please Login.
{% endblock %}

{% block title1 %}
	- Login
{% endblock %}

{% block navs %}
	<li><a href="index">Home</a></li>
	<li><a href="activities">Activities</a></li>
	<li><a href="gallery">Gallery</a></li>
	<li><a href="resume">Resume</a></li>
	<li><a href="contact">Contact Me</a></li>
	<li class="active"><a href="login">Login</a></li>
{% endblock %}

{% block title2 %}
	<h2>Login</h2>
{% endblock %}

{% block content %}
	<h3 class="center"> Log In For More Content </h3>
	<form class="center" method="post" action="/login">
		<label>Username: <input type = "text" name = "user"/> </label>
		<br>
		<label>Password: <input type = "password" name = "pass"/> </label>
		<br>
		<input type = "submit" value = "login">
	</form>

{% endblock %}
