{% extends "templates/base.html" %}

{% block title1 %}
	- Resume
{% endblock %}

{% block navs %}
	<li><a href="index">Home</a></li>
	<li><a href="activities">Activities</a></li>
	<li><a href="gallery">Gallery</a></li>
	<li class="active"><a href="resume">Resume</a></li>
	<li><a href="contact">Contact Me</a></li>
	<li><a href="login">Login</a></li>
{% endblock %}

{% block title2 %}
	<h2>Resume</h2>
{% endblock %}

{% block content %}
	<div class = "row">
		<div class = "col-md-6">
			<div id="picture" class="thumbnail">
				<img alt="resume picture" src="../static/gallery/5.jpg">
			</div>
		</div>

		<div class = "col-md-6">
			<div id="objective" class="thumbnail">
				<h3>Objective</h3>
				<hr class="w70">
				<h4>To obtain a challenging internship position in the field of Computer Science for the summer of 2016</h4>
			</div>
			<div id="education" class="thumbnail">
				<h3>Education</h3>
				<hr class="w70">
				<h4>University of Michigan</h4>
				<ul>
					<li>Expected Graduation April 2017</li>
					<li>Bachelor of Science in Engineering in Computer Science</li>
					<li>Relevant Classwork: Introduction to Computer Security (EECS 388), Introduction to Computer Organization (EECS 370), Foundations of Computer Science (EECS 376), Data Structures and Algorithms (EECS 281), Programming and Data Structures (EECS 280), Discrete Math (EECS 203), Agile Web Development (SI 206)</li>
				</ul>
			</div>
		</div>
	</div>

			

	<div class="resume_normal">
		<h3>Work Experience</h3>
		<hr class="w70">
		<ul>
			<li><h4>Software Engineering Intern at Quicken Loans</h4></li>
			<li>
				<ul>
					<li>06/2015 – 08/2015</li>
					<li>Worked with a multidisciplinary team in an Agile work environment</li>
					<li>Supported the client advocate team to make client interaction seamless</li>
					<li>Determined areas of improvement, designed solutions, and built director scripts to increase efficiency</li>
				</ul>
			</li>
			<li><h4>Campus Ambassador for Quicken Loans</h4></li>
			<li>
				<ul>
					<li>09/2015 – 12/2015</li>
					<li>Advertised the company isms, culture, job summaries, and impact on downtown Detroit</li>
					<li>Part-time job through school year to recruit qualified team members to join the Quicken Loans family</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="resume_normal">
		<h3>Project Experience</h3>
		<hr class="w70">
		<ul>
			<li><h4>Zero Car</h4></li>
			<li>
				<ul>
					<li>01/2015 – 04/2015</li>
					<li>Led team of engineering students to build a touch screen controlled r/c car to help children develop spatial learning skills with a product not available in current educational toy market</li>
					<li>Communicated with management through memorandums, proposals, progress reports, and presentations to ensure Zero Car met and exceeded expectations from the initial proposed design</li>
				</ul>
			</li>
			<li><h4>Mathemorphosis</h4></li>
			<li>
				<ul>
					<li>09/2015</li>
					<li>Chrome Extension that allows users to highlight lines of text and transform them into a typesetting of TeX</li>
					<li>Built with a team during MHacks VI, a 36 hour Hackathon</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="resume_normal">
		<h3>Skills</h3>
		<hr class="w70">
		<div class = "row">
			<div class = "col-md-4"> 
				<ul>
					<li><h4>OS:</h4></li>
					<li>
						<ul>
							<li>Windows XP, 7, 8, 10</li>
							<li>OS X Mountain Lion, Mavericks, Yosemite, El Capitan</li> 
							<li>Linux Red Hat</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class = "col-md-4">
				<ul>
					<li><h4>Programming Languages:</h4></li>
					<li>
						<ul>
							<li>C++</li>
							<li>C</li>
							<li>HTML</li>
							<li>CSS</li>
							<li>VBScript</li>
							<li>JavaScript</li>
							<li>Python</li>
							<li>Java</li>
							<li>MATLAB</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class = "col-md-4">
				<ul>
					<li><h4>Tools</h4></li>
					<li>
						<ul>
							<li>jQuery</li>
							<li>Bootstrap</li>
							<li>Xcode</li>
							<li>Sublime</li>
							<li>GDB</li>
							<li> Valgrind </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="resume_normal">
		<h3>Download Resume As A PDF</h3>
		<hr class="w70">
		<a href="../static/resume.pdf" download><i class="fa fa-file-pdf-o fa-5x">Resume</i></a>
		<br>
		<br>
	</div>

{% endblock %}