{% extends "templates/base.html" %}

{% block title1 %}
	- Resume
{% endblock %}

{% block navs %}
	<li><a href="index">Home</a></li>
	<li><a href="aboutMe">About Me</a></li>
	<li><a href="activities">Activities</a></li>
	<li class="active"><a href="resume">Resume</a></li>
	<li><a href="contact">Contact Me</a></li>
	<li><a href="login">Login</a></li>
{% endblock %}

{% block title2 %}
	<h2>Resume</h2>
{% endblock %}

{% block content %}
	<p>
		Resume Here
		</br>
		<img src = "/static/food.jpg" alt = "resume">
	</p>
{% endblock %}